:root {
  --tea-green: #ccd5ae;
  --beige: #e9edc9;
  --cornsilk: #fefae0;
  --papaya: #faedcd;
  --buff: #d4a373;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Used for header font */

@font-face {
  font-family: "Concert One", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
}

.main-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

body {
  background: var(--beige);
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}

/* Header */

header h1 {
  width: 100%;
  font-family: "Concert One", sans-serif;
  font-size: 4rem;
  padding: 1rem;
}

header {
  display: flex;
  background-color: var(--buff);
}

/* Array links */

.array-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.array-button-container a {
  color: black;
  font-family: inherit;
  margin: 0 1rem;
  text-decoration: none;
}

.array-button-container a.active {
  color: var(--papaya);
  text-decoration: underline;
}

/* SearchBar */

input {
  padding: 0.15rem;
  margin-top: 4rem;
  width: 300px;
  align-self: center;
  font-size: 2rem;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}

/* Home */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.array-selector-container {
  width: 50%;
  text-align: center;
}

.array-selector-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 500px;

}

/* Card */

.card-container {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1522px;
  overflow: scroll;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 200px;
  height: 330px;
  position: relative;
}

.card a {
  text-align: center;
  padding-bottom: 0.25rem;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.animal-image-container {
  display: flex;
  height: 100%;
  width: 100%;
}

img.animal-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--cornsilk);
  padding: 0.25rem;
  outline: 1px solid var(--buff);
  box-shadow: 0 0 5px #333;
}

.card h2 {
  text-align: center;
}

.button-main-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  background-color: var(--cornsilk);
}

.button-container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  align-content: center;
}

.card button {
  font-family: monospace;
  text-align: center;
  align-self: center;
  padding: 0.5rem;
}

.like-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
}

.mood {
  font-size: 2rem;
}

/* Footer section */

footer {
  width: 100%;
  background-color: var(--buff);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  padding: 1rem 0;
}

/* About */

.about-main-container {
  display: flex;
  justify-content: center;
}

.about-text-container {
  width: 80%;
  justify-content: center;
}

.about-text-container h1,
.about-text-container h2,
.about-text-container h3,
.about-text-container p {
  padding: 0.5rem 0;
}