:root {
  --tea-green: #CCD5AE;
  --beige: #E9EDC9;
  --cornsilk: #FEFAE0;
  --papaya: #FAEDCD;
  --buff: #D4A373;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Used for header font */

@font-face {
  font-family: 'Concert One', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
}

.main-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--beige);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

/* Header */

header h1{
  width: 100%;
  font-family: 'Concert One', sans-serif;
  background-color: var(--buff);
  font-size: 4rem;
  padding: 1rem;
}

/* Array buttons */

  .array-button-container {
    display: flex;
    justify-content: center;
  }

  .array-button-container button {
    width: 100px;
    padding: 0.75rem 0;
    font-family: inherit;
    margin: 1rem;
  }

/* SearchBar */

  input {
    padding: 0.15rem;
    margin-top: 4rem;
    width: 300px;
    align-self: center;
    font-size: 2rem;
    display: flex;
    font-family: "Ubuntu", sans-serif;
  }

/* Card */

.card-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1522px;
  overflow: scroll;
  flex-wrap: wrap;
  gap: 20px;
  border: black solid 1px;
}

.card {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  width: 200px;
  height: 250px;
}

.animal-image {
  background: url(https://cdn.pixabay.com/photo/2012/10/26/02/14/crab-63084_1280.jpg) center/cover no-repeat;
  width: 100%;
  height: 200px;
  position: relative;
}

.animal-image span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-family: monospace;
  color: var(--cornsilk)
}

.card h2 {
  text-align: center;
}

.button-main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--cornsilk);
}

.button-container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  align-content: center;
}

.card button {
  font-family: monospace;
  text-align: center;
  align-self: center;
  padding: 0.5rem;
}

.like-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
}

.mood {
  font-size: 2rem;
}

/* Footer section */

footer {
  width: 100%;
  background-color: var(--tea-green);
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 1rem 0;
}